.image01 {
    width: 20%;
    /*display: block;*/
    margin: auto;
}

.texte {
    text-align: center;
    margin-top: 100px;
}

/*
.image02{
    background: green;
}
*/

.container {
    background-image: url(img/bois.jpg);
}